{% extends 'base.html.twig' %}

{% block title %}Page Gestionnaire{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# <h1>Hello {{ controller_name }}! ✅</h1> #}
    <h1>Site en construction merci de ne pas déranger le développeur... chut</h1>

    <h2>Bonjour Gestionnaire</h2>

    <ul>
        {# <li>Je vous souhaite une agréable journée Gestionnaire <code><a href="{{ 'C:/laragon/www/Gestion_Session/src/Controller/AccueilController.php'|file_link(0) }}">src/Controller/AccueilController.php</a></code></li>
        <li>Que désirez-vous faire? <code><a href="{{ 'C:/laragon/www/Gestion_Session/templates/accueil/index.html.twig'|file_link(0) }}">templates/accueil/index.html.twig</a></code></li> #}
        <li>Je vous souhaite une agréable journée Gestionnaire</li>
        <li>Que désirez-vous faire?</li>
        <li>Ps : Quand le nombre d'inscrit est à zero arrête d'inscrire des gens</li>
    </ul>
</div>
{% endblock %}
