{% extends 'base.html.twig' %}

{% block title %}Edition du module{% endblock %}

{% block body %}
    
    <div class="container mt-4">
        <h1>Editer le module</h1>
        {{ include ('module/_form.html.twig', {button: 'Editer'}) }}
        <div class="d-flex justify-content-end">
            <a href="{{ path ('module.index') }}" class="btn btn-secondary">Retour</a>
        </div>
    </div>

{% endblock %}